<p *ngIf="fileError" style="color: red;font-size: larger; font-weight: bold; text-align: center;">La imagen es necesaria</p>
<p *ngIf="invalidName" style="color: red;font-size: larger; font-weight: bold; text-align: center;">Ya existe una categoria con ese nombre</p>
<div class="card">
    <div class="card-body">

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="image" style="float: left;">
                <input type="file" ngModel required #foto="ngModel" class="d-none" name="photo" (change)="onPhotoSelected($event)" #photoInput>
                <img [src]="photoSelected || '../../../../assets/images/noImage.png'" width="300" height="300" alt="No se ha subido ninguna imagen" (click)="photoInput.click()">
            </div>

            <div style="float:right; width: 75%; padding-top: 100px;">
                <div class="mb-3" style="padding-bottom: 20px ;">
                    <input type="text" ngModel required #catName="ngModel" name="catName" placeholder="Nombre" class="form-control" autofocus>
                </div>

                <div class="mb-3">
                    <input type="checkbox" class="btn-check" id="primaria" autocomplete="off" (click)="primaria=true">
                    <label class="btn btn-outline-info" for="primaria">Categoria Primaria</label>
                </div>

                <div class="d-grid gap-2">
                    <button [disabled]="f.invalid" class="btn btn-outline-success">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>