<p *ngIf="fileError" style="color: red;font-size: larger; font-weight: bold; text-align: center;">La imagen es necesaria</p>
<p *ngIf="invalidName" style="color: red;font-size: larger; font-weight: bold; text-align: center;">Ya existe una categoria con ese nombre</p>
<div class="card">
    <div class="card-body">

        <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(f)">
            <div class="image" style="float: left;">
                <input type="file" required class="d-none" name="photo" (change)="onPhotoSelected($event)" #photoInput>
                <img *ngIf="modificando" [src]="photoSelected || imageUrl + modCat.foto" width="300" height="300" (click)="photoInput.click()">
                <img *ngIf="!modificando" required [src]="photoSelected || '../../../../assets/images/noImage.png'" width="300" height="300" alt="No se ha subido ninguna imagen" (click)="photoInput.click()">
            </div>

            <div style="float:right; width: 75%; padding-top: 100px;">
                <div class="mb-3" style="padding-bottom: 20px ;">
                    <input type="text" required formControlName="nombreCat" name="catName" placeholder="Nombre" class="form-control" autofocus>
                </div>

                <div class="mb-3">
                    <input *ngIf="modCat.primaria" checked type="checkbox" class="btn-check" id="primaria" autocomplete="on" (click)="onClick()">
                    <input *ngIf="!modCat.primaria" type="checkbox" class="btn-check" id="primaria" autocomplete="off" (click)="onClick()">
                    <label class="btn btn-outline-info" for="primaria">Categoria Primaria</label>
                </div>

                <div class="d-grid gap-2">
                    <button [disabled]="f.invalid" class="btn btn-outline-success">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>