<p *ngIf="fileError" style="color: red;font-size: larger; font-weight: bold; text-align: center;">La imagen es necesaria</p>
<div class="card">
    <div class="card-body">

        <form #f="ngForm" (ngSubmit)="saveNewProduct(f)">
            <div style="float: left;">
                <input type="file" ngModel required #foto="ngModel" class="d-none" name="photo" (change)="onPhotoSelected($event)" #photoInput>
                <img [src]="photoSelected || '../../../../assets/images/noImage.png'" width="300" height="300" alt="No se ha subido ninguna imagen" (click)="photoInput.click()">
            </div>
            <div style="float:right; width: 75%;">
                <div class="mb-3" style="padding-bottom: 20px ;">
                    <input type="text" ngModel required #prodName="ngModel" name="prodName" placeholder="Nombre" class="form-control" autofocus>
                </div>

                <div class="mb-3" style="padding-bottom: 20px ;">
                    <input type="number" ngModel required #precio="ngModel" name="precio" placeholder="Precio" class="form-control">
                </div>

                <div class="mb-3">
                    <input type="number" ngModel required #stock="ngModel" name="stock" style="padding-bottom: 20px ;" placeholder="Stock" class="form-control">
                </div>

                <div class="d-grid gap-2">
                    <button [disabled]="f.invalid" class="btn btn-outline-success"> 
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>