<div>
    <h3>Iniciar Sesión</h3>
    <div class="card" style="text-align:center ; font-weight: 1000;">
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="mb-3" style="padding-bottom: 20px ; ">
                    <label for="loginUsername">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="LoginUsername" placeholder="Introduce nombre de usuario" autofocus>
                </div>

                <div class="mb-3" style="padding-bottom: 20px ;">
                    <label for="loginPassword">Contraseña</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Contraseña">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-info">Iniciar Sesión &nbsp;&nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>