<div *ngIf="producto" style="padding-bottom:50px ;">
    <h3 style="text-align: center;">"{{producto.nombreProd}}"</h3>
    <div class="card" style="text-align:justify ; font-weight: 1000;">
        <div class="card-body">
            &nbsp;
            <img src="{{imageUrl + producto.foto}}" width="500" height="500" alt="No se ha subido ninguna imagen" style="float: left;margin-right: 60px;">

            <p style="margin-bottom: 50px;">{{producto.nombreProd}}</p>

            <p style="margin-bottom: 50px;">Precio: {{producto.precio}}</p>

            <p style="margin-bottom: 50px;">Unidades en stock: {{producto.stock}}</p>
            <div style="width: 50%; float: left;">

                <button class="btn btn-outline-info" style="float: left; margin-right: 20px;" (click)="addCarrito(producto)">Meter al carrito</button>
                
                <select [(ngModel)]="cant" class="form-select" style="float: left; width: 26%;">
                    <option selected value="1">1</option>
                    <option *ngFor="let num of cantidad" [value]="num">{{num}}</option>
                  </select>

            </div>
            
            
        </div>

    </div>
</div>
<app-prod-list (click)="onClick()"></app-prod-list>