<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/images/Logo.png" alt="Go Train Yourself" width="150" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div *ngFor="let menu of menus">
                    <li *ngIf="menu.link != ''" class="nav-item dropdown" (mouseleave)="menu.visible = false" (mouseover)="menu.visible = true" routerLink="{{menu.link}}">
                        <a class="nav-link dropdown-toggle" routerLinkActive="active" [ngClass]="{ 'dropdown-toggle': menu.children }" id="navbarDropdown" role="button" aria-expanded="false">
                      {{menu.name}}
                    </a>
                        <ul *ngIf="menu.children" class="dropdown-menu" [ngClass]="{ 'show': menu.visible }" aria-labelledby="navbarDropdown">
                            <li *ngFor="let subMenu of menu.children">
                                <a class="dropdown-item " routerLink="{{subMenu.link}}">
                                {{subMenu.name}}
                            </a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="menu.link == ''" class="nav-item dropdown" (mouseleave)="menu.visible = false" (mouseover)="menu.visible = true">
                        <a class="nav-link dropdown-toggle" [ngClass]="{ 'dropdown-toggle': menu.children }" id="navbarDropdown" role="button" aria-expanded="false">
                      {{menu.name}}
                    </a>
                        <ul *ngIf="menu.children" class="dropdown-menu" [ngClass]="{ 'show': menu.visible }" aria-labelledby="navbarDropdown">
                            <li *ngFor="let subMenu of menu.children">
                                <a class="dropdown-item " routerLink="{{subMenu.link}}">
                                {{subMenu.name}}
                            </a>
                            </li>
                        </ul>
                    </li>
                </div>

                <li class="nav-item dropdown" (mouseleave)="visibleSearch = false" (mouseover)="visibleSearch = true">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" [ngClass]="{ 'active': visibleSearch }" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-magnifying-glass fa-fw fa-xl"></i>
                    </a>
                    <div class="dropdown-menu" [ngClass]="{ 'show': visibleSearch }" style="width: 500px;padding-right: 15px;padding-left: 15px;">
                        <form #f="ngForm" class="d-flex" (ngSubmit)="onSearch(f)">
                            <input class="form-control me-2" type="search" name="search" ngModel required #search="ngModel" placeholder="Search" id="search" aria-label="Search">
                            <button class="btn btn-outline-info" type="submit">Search</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li *ngIf="usuario?.admin" class="nav-item">
                    <button *ngIf="menuType=='normalMenu'" type="button" class="btn btn-outline-info" (click)="goAdmin()">Administración</button>
                    <button *ngIf="menuType=='adminMenu'" type="button" class="btn btn-outline-info" (click)="goHome()">Home</button>
                </li>
                <ng-container *ngIf="usuario">
                    <li class="nav-item">
                        <!-- Carrito TODO: Cambiar link -->
                        <a class="nav-link" routerLinkActive="active">
                            CARRITO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logOut()" routerLinkActive="active">
                            LOG OUT
                        </a>
                    </li>
                </ng-container>

                <ng-container *ngIf="!usuario">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login" routerLinkActive="active">
                         Iniciar Sesión
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="register" routerLinkActive="active">
                         Registrarse
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>