<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/images/Logo.png" alt="Go Train Yourself" width="150" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div *ngFor="let menu of menus">
                    <li *ngIf="menu.link != ''" class="nav-item dropdown" (mouseleave)="menu.visible = false" (mouseover)="menu.visible = true" routerLink="{{menu.link}}">
                        <a class="nav-link dropdown-toggle" routerLinkActive="active" [ngClass]="{ 'dropdown-toggle': menu.children }" id="navbarDropdown" role="button" aria-expanded="false">
                      {{menu.name}}
                    </a>
                        <ul *ngIf="menu.children" class="dropdown-menu" [ngClass]="{ 'show': menu.visible }" aria-labelledby="navbarDropdown">
                            <li *ngFor="let subMenu of menu.children">
                                <a class="dropdown-item " routerLink="{{subMenu.link}}">
                                {{subMenu.name}}
                            </a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="menu.link == ''" class="nav-item dropdown" (mouseleave)="menu.visible = false" (mouseover)="menu.visible = true">
                        <a class="nav-link dropdown-toggle" [ngClass]="{ 'dropdown-toggle': menu.children }" id="navbarDropdown" role="button" aria-expanded="false">
                      {{menu.name}}
                    </a>
                        <ul *ngIf="menu.children" class="dropdown-menu" [ngClass]="{ 'show': menu.visible }" aria-labelledby="navbarDropdown">
                            <li *ngFor="let subMenu of menu.children">
                                <a class="dropdown-item " routerLink="{{subMenu.link}}">
                                {{subMenu.name}}
                            </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>


            <ul class="navbar-nav">
                <li *ngIf="usuario?.admin" class="nav-item">
                    <button *ngIf="menuType=='normalMenu'" type="button" class="btn btn-outline-info" (click)="goAdmin()">Administración</button>
                    <button *ngIf="menuType=='adminMenu'" type="button" class="btn btn-outline-info" (click)="goHome()">Home</button>
                </li>
                <ng-container *ngIf="usuario">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/carrito" routerLinkActive="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                              </svg>
                        </a>
                    </li>

                    <li class="nav-item dropdown" style="padding-right: 70px;" (mouseleave)="userDrop = false" (mouseover)="userDrop = true">
                        <a class="dropdown-toggle avatar" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{imageUrl + usuario.foto}}">
                        </a>
                        <ul class="dropdown-menu" [ngClass]="{ 'show': userDrop }">
                            <li><a class="dropdown-item" href="#" [routerLink]="'usuario/detalle/'+usuario.id">Perfil</a></li>
                            <li><a class="dropdown-item" href="#" [routerLink]="'orderList/'+usuario.id">Pedidos</a></li>
                            <li><a class="dropdown-item" href="#" (click)="logOut()">Cerrar Sesión</a></li>
                        </ul>
                    </li>



                </ng-container>

                <ng-container *ngIf="!usuario">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login" routerLinkActive="active">
                             Iniciar Sesión
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="register" routerLinkActive="active">
                             Registrarse
                            </a>
                    </li>
                </ng-container>
            </ul>

        </div>




    </div>

</nav>